* {
  --dark-color: rgb(150, 85, 55);
  --light-color: rgb(255, 210, 160)
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Header Section */

.nav-header {
  background-color: var(--dark-color);
  padding: 1vh;
}

.nav-header--title {
  display: flex;
  gap: 10px;
  color: rgb(255, 210, 160);
}


/* Main Part */

.main-part {
  background-color: var(--light-color);
}

/* Footer Part */

.footer-part {
  background-color: var(--dark-color);
  color: var(--light-color);
}