* {
  --dark-color: rgb(150, 85, 55);
  --light-color: rgb(255, 210, 160)
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Header Section */

.nav-header {
  background-color: var(--dark-color);
  padding: 1vh;
  display: flex;
  justify-content: space-between;
}

.nav-header--title {
  display: flex;
  gap: 10px;
  color: var(--light-color);
  flex: 1;
  align-items: center;
  padding-left: 2%;
  font-size: 24px;
}

.nav-header--logo {
  width: 100px;
}

.nav-header--credits {
  display: flex;
  flex-direction: column;
  color: var(--light-color);
  flex: 1;
  text-align: right;
  padding-right: 2%;
  font-size: 16px;
}

.nav-header--credits > p > a {
  color: var(--light-color);
}


/* Main Part */

.main-part {
  background-color: var(--light-color);
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  padding: 2% 4%;
  
}

/* Game Card */

.game-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 400px;
  margin: 1%;
}

.game-link {
  text-decoration: none;
  color: black;
}

.game-image {
  max-width: 400px;
}


.game-title {
  font-size: 24px;
}

.game-card:hover .game-title {
  font-size: 28px;
}

.game-card:hover .game-image {
  max-width: 450px;
}



/* Footer Part */

.footer-part {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 0.5%
}


.footer-part > a {
  color: var(--light-color)
}